body {
	color: #555;
	font: 200 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	min-height: 500px;
	margin: 0;
}

#content h1, #content h2 {
	font: 100 51px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: #08C;
}

#content {
	position: absolute;
	top: 50px;
	left: 50px;
	right: 50px;
	padding-bottom: 50px;
}

#social {
	padding: 0;
}

#social li {
	list-style: none;
}

#social li a {
	padding-left: 40px;
	font-size: 18px;
	line-height: 40px;
	background-size: 32px;
	background-repeat: no-repeat;
	background-position: center left;
	opacity: 0.7;
	filter:Alpha(opacity=0.7); 
	transition: 100ms ease-in all;
	-webkit-transition: 100ms ease-in all;
	-o-transition: 100ms ease-in all;
	-moz-transition: 100ms ease-in all;
}

#social li a:hover {
	margin-left: 5px;
	opacity: 1;
	filter:Alpha(opacity=0.7); 
}

#twitter {
	background-image: url("http://i.imgur.com/M4o3P5E.png");
}

#github {
	background-image: url("http://i.imgur.com/XBiklbw.png");
}
